APP_NAME=Web Programming Backend
APP_VERSION=0.1.0
API_PREFIX=/api/v1
APP_HOST=0.0.0.0
APP_PORT=8080
APP_RELOAD=true

FIREBASE_PROJECT_ID=
FIRESTORE_HEALTH_COLLECTION=

LLM_API_KEY=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


GOOGLE_SERVER_METADATA_URL=
GITHUB_ACCESS_TOKEN_URL=
GITHUB_AUTHORIZE_URL=
GITHUB_API_BASE_URL=

GCS_BUCKET_NAME=

AGENT_BACKEND_URL=
FRONTEND_URL=

APP_ENV=